<%- include("../partials/header") %> 

<div class="container">
  <div class="row">
    <h1 class="text-center">Edit Campground: <%= camp.name %> </h1>
    <div style="width: 30%; margin: 40px auto;">
      <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST">
        <div class="form-group">
          <label>Name:</label>
          <input class="form-control" type="text" name="campground[name]" value="<%= camp.name %>">
        </div>
        <div class="form-group">
          <label>Image URL:</label>
          <input class="form-control" type="text" name="campground[img]" value="<%= camp.img %>">
        </div>
        <div class="form-group">
          <label>Price:</label>
          <input class="form-control" type="number" name="campground[price]" value="<%= camp.price %>" min="0.01" step="0.01">
        </div>
        <div class="form-group">
          <label>Description:</label>
          <textarea class="form-control" type="text" name="campground[description]" >
            <%= camp.description %>
          </textarea>
        </div>
        <div class="form-group">
          <input class="btn btn-lg btn-primary btn-block" type="submit" name="" id="">
        </div>
      </form> 
      <a href="/campgrounds">Go Back</a> 
    </div>
  </div>
</div>

<%- include("../partials/footer") %> 